In [2]:
import pandas as pd
super_bowl_ads=pd.read_csv('super_bowl_ads.csv')

In [3]:
super_bowl_ads.shape

(219, 13)

In [4]:
super_bowl_ads['Brand']

0      Budweiser
1      Budweiser
2        E-Trade
3        E-Trade
4      Budweiser
         ...
214        Pepsi
215    Bud Light
216       Toyota
217          Kia
218    Budweiser
Name: Brand, Length: 219, dtype: object

In [24]:
super_bowl_ads.iloc[3]

Year                             2000
Brand                         E-Trade
Data.Content.Funny               True
Data.Content.Shows Product       True
Data.Content.Patriotic           True
Data.Content.Celebrity           True
Data.Content.Danger              True
Data.Content.Animals             True
Data.Content.Sexual              True
Data.Viewership.Views           67182
Data.Viewership.Likes             121
Data.Viewership.Dislikes            4
Data.Title                          6
Name: 3, dtype: object

In [25]:
super_bowl_ads.iloc[-5:,12]

214    29
215    14
216    13
217     6
218     0
Name: Data.Title, dtype: int64

In [27]:
super_bowl_ads.loc[super_bowl_ads['Data.Viewership.Views'] > 50000]

,Year,Brand,Data.Content.Funny,Data.Content.Shows Product,Data.Content.Patriotic,Data.Content.Celebrity,Data.Content.Danger,Data.Content.Animals,Data.Content.Sexual,Data.Viewership.Views,Data.Viewership.Likes,Data.Viewership.Dislikes,Data.Title
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498
1,2000,Budweiser,True,True,True,True,True,True,True,111442,163,5,8
3,2000,E-Trade,True,True,True,True,True,True,True,67182,121,4,6
6,2001,Budweiser,True,True,True,True,True,True,True,77142,334,4,71
7,2001,Pepsi,True,True,True,True,True,True,True,65162,109,4,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,2019,Coca-Cola,True,True,True,True,True,True,True,81952,417,56,53
203,2019,Pepsi,True,True,True,True,True,True,True,128792,961,15,35
210,2020,NFL,True,True,True,True,True,True,True,26727063,175429,7445,8441
211,2020,Doritos,True,True,True,True,True,True,True,1990447,10717,576,319
212,2020,Coca-Cola,True,True,True,True,True,True,True,304254,1470,384,227

In [32]:
super_bowl_ads.loc[(super_bowl_ads['Data.Viewership.Views'] > 50000) & (super_bowl_ads['Data.Viewership.Likes'] > 25000)]

,Year,Brand,Data.Content.Funny,Data.Content.Shows Product,Data.Content.Patriotic,Data.Content.Celebrity,Data.Content.Danger,Data.Content.Animals,Data.Content.Sexual,Data.Viewership.Views,Data.Viewership.Likes,Data.Viewership.Dislikes,Data.Title
127,2012,Doritos,True,True,True,True,True,True,True,176373378,275362,92990,1234
128,2012,Coca-Cola,True,True,True,True,True,True,True,22849816,92333,42386,592
173,2016,Coca-Cola,True,True,True,True,True,True,True,6428474,58957,2673,813
181,2017,Budweiser,True,True,True,True,True,True,True,28785122,48423,17113,9190
198,2019,Bud Light,True,True,True,True,True,True,True,7658201,94799,12789,7431
210,2020,NFL,True,True,True,True,True,True,True,26727063,175429,7445,8441

In [33]:
super_bowl_ads.columns

Index(['Year', 'Brand', 'Data.Content.Funny', 'Data.Content.Shows Product',
       'Data.Content.Patriotic', 'Data.Content.Celebrity',
       'Data.Content.Danger', 'Data.Content.Animals', 'Data.Content.Sexual',
       'Data.Viewership.Views', 'Data.Viewership.Likes',
       'Data.Viewership.Dislikes', 'Data.Title'],
      dtype='object')

In [44]:
super_bowl_ads['like_percentage'] = (super_bowl_ads['Data.Viewership.Likes'] / super_bowl_ads['Data.Viewership.Views'])*100
super_bowl_ads.columns

Index(['Year', 'Brand', 'Data.Content.Funny', 'Data.Content.Shows Product',
       'Data.Content.Patriotic', 'Data.Content.Celebrity',
       'Data.Content.Danger', 'Data.Content.Animals', 'Data.Content.Sexual',
       'Data.Viewership.Views', 'Data.Viewership.Likes',
       'Data.Viewership.Dislikes', 'Data.Title', 'Likes Divided by Views',
       'like_percentage'],
      dtype='object')

In [43]:
super_bowl_ads.iloc[super_bowl_ads.like_percentage]

,Year,Brand,Data.Content.Funny,Data.Content.Shows Product,Data.Content.Patriotic,Data.Content.Celebrity,Data.Content.Danger,Data.Content.Animals,Data.Content.Sexual,Data.Viewership.Views,Data.Viewership.Likes,Data.Viewership.Dislikes,Data.Title,Likes Divided by Views,like_percentage
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313
1,2000,Budweiser,True,True,True,True,True,True,True,111442,163,5,8,0.001463,0.146264
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498,0.006853,0.685313

In [3]:
super_bowl_ads.sort_values(by=['Data.Viewership.Views']).head()

,Year,Brand,Data.Content.Funny,Data.Content.Shows Product,Data.Content.Patriotic,Data.Content.Celebrity,Data.Content.Danger,Data.Content.Animals,Data.Content.Sexual,Data.Viewership.Views,Data.Viewership.Likes,Data.Viewership.Dislikes,Data.Title
140,2012,Budweiser,True,True,True,True,True,True,True,10,0,0,0
138,2012,E-Trade,True,True,True,True,True,True,True,21,0,0,0
117,2010,Budweiser,True,True,True,True,True,True,True,42,1,0,0
125,2011,Hynudai,True,True,True,True,True,True,True,56,0,0,0
169,2015,Budweiser,True,True,True,True,True,True,True,79,0,0,0

In [6]:
super_bowl_ads.rename(columns={'Data.Viewership.Dislikes' : 'Data_Viewership_Dislikes'})

,Year,Brand,Data.Content.Funny,Data.Content.Shows Product,Data.Content.Patriotic,Data.Content.Celebrity,Data.Content.Danger,Data.Content.Animals,Data.Content.Sexual,Data.Viewership.Views,Data.Viewership.Likes,Data_Viewership_Dislikes,Data.Title
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498
1,2000,Budweiser,True,True,True,True,True,True,True,111442,163,5,8
2,2000,E-Trade,True,True,True,True,True,True,True,9036,51,2,7
3,2000,E-Trade,True,True,True,True,True,True,True,67182,121,4,6
4,2000,Budweiser,True,True,True,True,True,True,True,5264,10,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,2020,Pepsi,True,True,True,True,True,True,True,29219,146,38,29
215,2020,Bud Light,True,True,True,True,True,True,True,47752,485,14,14
216,2020,Toyota,True,True,True,True,True,True,True,23636,115,11,13
217,2020,Kia,True,True,True,True,True,True,True,17892,78,6,6
218,2020,Budweiser,True,True,True,True,True,True,True,782,7,0,0

In [7]:
super_bowl_ads.rename(columns={'Data.Viewership.Views' : 'Data_Viewership_Views'})

,Year,Brand,Data.Content.Funny,Data.Content.Shows Product,Data.Content.Patriotic,Data.Content.Celebrity,Data.Content.Danger,Data.Content.Animals,Data.Content.Sexual,Data_Viewership_Views,Data.Viewership.Likes,Data.Viewership.Dislikes,Data.Title
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498
1,2000,Budweiser,True,True,True,True,True,True,True,111442,163,5,8
2,2000,E-Trade,True,True,True,True,True,True,True,9036,51,2,7
3,2000,E-Trade,True,True,True,True,True,True,True,67182,121,4,6
4,2000,Budweiser,True,True,True,True,True,True,True,5264,10,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,2020,Pepsi,True,True,True,True,True,True,True,29219,146,38,29
215,2020,Bud Light,True,True,True,True,True,True,True,47752,485,14,14
216,2020,Toyota,True,True,True,True,True,True,True,23636,115,11,13
217,2020,Kia,True,True,True,True,True,True,True,17892,78,6,6
218,2020,Budweiser,True,True,True,True,True,True,True,782,7,0,0

In [8]:
super_bowl_ads.rename(columns={'Data.Viewership.Likes' : 'Data_Viewership_Likes'})

,Year,Brand,Data.Content.Funny,Data.Content.Shows Product,Data.Content.Patriotic,Data.Content.Celebrity,Data.Content.Danger,Data.Content.Animals,Data.Content.Sexual,Data.Viewership.Views,Data_Viewership_Likes,Data.Viewership.Dislikes,Data.Title
0,2000,Budweiser,True,True,True,True,True,True,True,3624622,24840,521,1498
1,2000,Budweiser,True,True,True,True,True,True,True,111442,163,5,8
2,2000,E-Trade,True,True,True,True,True,True,True,9036,51,2,7
3,2000,E-Trade,True,True,True,True,True,True,True,67182,121,4,6
4,2000,Budweiser,True,True,True,True,True,True,True,5264,10,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,2020,Pepsi,True,True,True,True,True,True,True,29219,146,38,29
215,2020,Bud Light,True,True,True,True,True,True,True,47752,485,14,14
216,2020,Toyota,True,True,True,True,True,True,True,23636,115,11,13
217,2020,Kia,True,True,True,True,True,True,True,17892,78,6,6
218,2020,Budweiser,True,True,True,True,True,True,True,782,7,0,0